---
import ContainerSecctions from "@/components/ContainerSecctions.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Confiracion del proceso de pago">
  <ContainerSecctions>
    <h1>Detalles del pago:</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et error eveniet
      architecto quisquam! Ab nihil eligendi in quas sunt id, sequi porro vel.
      Harum provident animi ab itaque maiores vitae.
    </p>
  </ContainerSecctions>
</Layout>
