---
import LayoutPersonalizados from "@/layouts/LayoutPersonalizados.astro";
import FormDatosProducto from "@/components/personalizados/FormDatosProducto";
---

<LayoutPersonalizados subtitle="Datos de tu torta" title="Datos del pedido" page="datos-de-orden-personalizada">
  <p class="text-sm md:text-base text-wrap pl-4 md:mt-0 md:pl-0 mt-2" >
    Ingresa la informacion solicitada en los formualarios a continuacion para
    hacer el pedido de tu torta personalizada.
  </p>

  <p
    class="text-sm md:text-base text-wrap pl-4 md:mt-0 md:pl-0 mt-2 leading-3"
  >
    Si tienes alguna duda en el proceso de personalización, no dudes en
    comunicarte a nuestro
    <a href="https://wa.me/573208132304" class="text-green-500 hover:underline duration-150">WhapsApp</a
    >, estamos para asesorarte.
  </p>

  <div class="p-6 mt-4">
    <FormDatosProducto client:visible />
  </div>
</LayoutPersonalizados>
