---
import LayoutPersonalizados from "@/layouts/LayoutPersonalizados.astro";
---

<LayoutPersonalizados subtitle="Datos de tu torta">
  <p class="text-sm md:text-base text-wrap pl-4 md:mt-0 md:pl-0 mt-2" id="des">
    Ingres la informacion solicitada en los formualarios a continuacion para
    hacer el pedido de tu torta personalizada
  </p>

  <p class="text-sm md:text-base text-wrap pl-4 md:mt-0 md:pl-0 mt-2" id="des">
    Si tienes alguna duda en el proceso de personalización, no dudes en
    comunicarte a nuestro <a
      href=""
      class="text-green-500 hover:underline duration-150">WhapsApp</a
    >, estamos para para asesorarte.
  </p>

  <p
    class="font-semibold text-sm md:text-base text-balance pl-4 mt-2 md:mt-0 md:pl-0 pb-1"
    id="des"
  >
    ¡Estamos emocionados de hacer realidad tus ideas!
  </p>

  

  <div class="p-6 mt-4">
    <form action="" class="max-w-4xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="relative z-0 w-full mb-5 group">
          <label
            for="floating_tematic"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >¿Cual sera tu tematica?</label
          >
          <input
            type="text"
            name="floating_text"
            id="floating_tematic"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#eb9f48] focus:outline-none focus:ring-0 focus:border-[#eb9f48] peer"
            placeholder=" "
            required
          />
          <label
            for="floating_tematic"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-10 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-[#eb9f48] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Ej: Cumpleaños</label
          >
        </div>

        <div class="relative z-0 w-full mb-5 group">
          <label
            for="floating_tematic"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >¿Algun relleno en especial?</label
          >
          <input
            type="text"
            name="floating_text"
            id="floating_tematic"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#eb9f48] focus:outline-none focus:ring-0 focus:border-[#eb9f48] peer"
            placeholder=" "
            required
          />
          <label
            for="floating_tematic"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-10 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-[#eb9f48] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >
            Ej: Crema de cafe
          </label>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-5">
        <div class="relative z-0 w-full mb-5 group">
          <label
            for="floating_tematic"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >¿En que sabor te gustaria la torta?</label
          >
          <input
            type="text"
            name="floating_text"
            id="floating_tematic"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#eb9f48] focus:outline-none focus:ring-0 focus:border-[#eb9f48] peer"
            placeholder=" "
            required
          />
          <label
            for="floating_tematic"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-10 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-[#eb9f48] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Ej: Vainilla</label
          >
        </div>

        <div class="flex flex-col">
          <label
            for="floating_tematic"
            class="block mb-3 text-sm font-medium text-gray-900 dark:text-white"
            >¿Para cuando lo necesitas?</label
          >
          <button
            type="button"
            data-modal-target="timepicker-modal"
            data-modal-toggle="timepicker-modal"
            class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w4 h-4 me-1"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              width="24"
              height="24"
              stroke-width="2"
            >
              <path
                d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"
              ></path>
              <path d="M16 3v4"></path>
              <path d="M8 3v4"></path>
              <path d="M4 11h16"></path>
              <path d="M7 14h.013"></path>
              <path d="M10.01 14h.005"></path>
              <path d="M13.01 14h.005"></path>
              <path d="M16.015 14h.005"></path>
              <path d="M13.015 17h.005"></path>
              <path d="M7.01 17h.005"></path>
              <path d="M10.01 17h.005"></path>
            </svg>
            Elije una fecha
          </button>

          <!-- Main modal -->
          <div
            id="timepicker-modal"
            tabindex="-1"
            aria-hidden="true"
            class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
          >
            <div class="relative p-4 w-full max-w-[23rem] max-h-full">
              <!-- Modal content -->
              <div
                class="relative bg-white rounded-lg shadow-sm dark:bg-gray-800"
              >
                <!-- Modal header -->
                <div
                  class="flex items-center justify-between p-4 border-b rounded-t dark:border-gray-700 border-gray-200"
                >
                  <h3
                    class="text-lg font-semibold text-gray-900 dark:text-white"
                  >
                    Selecciona una fecha
                  </h3>
                  <button
                    type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm h-8 w-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-toggle="timepicker-modal"
                  >
                    <svg
                      class="w-3 h-3"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 14 14"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                  </button>
                </div>

                <!-- Modal body -->

                <div class="p-4 pt-0">
                  <div
                    inline-datepicker
                    datepicker-autoselect-today
                    class="mx-auto sm:mx-0 flex justify-center my-5 [&>div>div]:shadow-none [&>div>div]:bg-gray-50 [&_div>button]:bg-gray-50"
                  >
                  </div>

                  <div class="flex justify-end">
                    <button
                      type="button"
                      class="text-white bg-secondary-bg hover:bg-[#d66a6e] font-medium rounded-lg text-sm px-5 py-2.5 mb-2"
                      >Save</button
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-5">
        <div class="relative z-0 w-full mb-5 group">
          <label
            for="floating_tematic"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >¿De cuantas porciones quieres tu torta?</label
          >
          <input
            type="text"
            name="floating_text"
            id="floating_tematic"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#eb9f48] focus:outline-none focus:ring-0 focus:border-[#eb9f48] peer"
            placeholder=" "
            required
          />
          <label
            for="floating_tematic"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-10 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-[#eb9f48] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Ej: 10</label
          >
        </div>

        <div class="flex flex-col">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            for="use_photo"
          >
            ¿Algun diseño en mente?</label
          >
          <input
            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-400 dark:border-gray-600 dark:placeholder-gray-400"
            aria-describedby="use_photo_help"
            id="use_photo"
            type="file"
          />
          <div
            class="mt-1 text-sm text-gray-500 dark:text-gray-300"
            id="use_photo_help"
          >
            Sube una foto de tu idea
          </div>
        </div>
      </div>

      <div class="relative z-0 w-full mb-5 group">
        <label
          for="message"
          class="block mb-2 text-sm font-medium text-gray-500 dark:text-gray-400"
          >Tu idea</label
        >
        <textarea
          id="message"
          rows="4"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-[#eb9f48] dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-[#eb9f48] focus:outline-none focus:ring-0 focus:border-[#eb9f48]"
          placeholder="Cuentanos tu idea..."></textarea>
      </div>
    </form>
  </div>

  <div class="flex justify-end pr-7 md:pr-16">
    <a
      href="/personalizados/form-submit"
      class="text-black hover:text-white transition duration-200 bg-secondary-bg hover:bg-[#d66a6e] uppercase focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      >Continuar</a
    >
  </div>
</LayoutPersonalizados>
