---
import LayoutProfile from "@/layouts/LayoutProfile.astro";
export const prerender = false
---

<LayoutProfile>
  <h2 class="font-semibold text-base ms:text-lg">Listado de pedidos</h2>
</LayoutProfile>
