---
import Carrusel from "@/components/carrusel/Carrusel.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bienvenido a santas tortas">
  <main class="">
    <section>
        <Carrusel />
    </section>
  </main>
</Layout>

<style>
  body {
    overflow-x: hidden;
  }
</style>
