---
import Layout from "../layouts/Layout.astro";
import CarruselHome from "@/components/CarruselHome.astro";
---

<Layout title="Bienvenido a santas tortas">
  <main>
    <section>
      <CarruselHome />
    </section>
  </main>
</Layout>

<style>
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
</style>
