---
import Layout from "../layouts/Layout.astro";
import CarruselHome from "@/components/CarruselHome.astro";

---

<Layout title="Bienvenido a santas tortas - postres y tortas personalizados">
  <main>
      <CarruselHome />
      <section class="relative -top-6 z-30">
        <article class="bg-white  h-40  mx-auto border p-4 w-[90%]">
          <div class="border-dashed border w-full h-full grid grid-cols-4 p-3">
            <div class="border w-2/4 mx-auto">
            <p>Pasteleria de alta calidad</p>
            </div>
            <div class="border w-2/4 mx-auto">
            <p>Paga de forma segura</p>
            </div>
            <div class="border w-2/4 mx-auto">
            <p>Prodcutos elaborados especialmemte para ti</p>
            </div>
            <div class="border w-2/4 mx-auto">
            <p>Recibe tus productos en casa</p>
            </div>
          </div>
        </article>
        <img src="/icon-box-shadow.webp" alt="" class="w-[90%] mx-auto">
      </section>
  </main>
</Layout>

<style>
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
</style>
