---
import Layout from "../layouts/Layout.astro";
import CarruselHome from "@/components/CarruselHome.astro";

---

<Layout title="Bienvenido a santas tortas - postres y tortas personalizados">
  <main>
      <CarruselHome />
      <section class="relative -top-6 z-30">
        <article class="bg-white  h-40  mx-auto -top-6 border p-4">
          <div class="border-dashed border w-11/12 h-full grid grid-cols-3 p-3">
            <div class="border w-2/4 mx-auto">1</div>
            <div class="border w-2/4 mx-auto">2</div>
            <div class="border w-2/4 mx-auto">3</div>
          </div>
        </article>
        <img src="/icon-box-shadow.png" alt="" class="w-full">
      </section>
  </main>
</Layout>

<style>
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
</style>
