---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import AsideProducts from "@/components/AsideProducts.astro";
import { getOferts } from "@/lib/getProducts";
import ViewProducts from "@/components/ViewProducts.astro";

const response = await getOferts();
const products = response.data;
---

<Layout title="Ofertas - las mejores oferfas para que te des un gusto">
  <main>
    <section class="max-w-screen-xl mx-auto pt-28">
      <h1
        class="text-2xl md:text-3xl text-balance text-[#f1683a] font-bold mb-4 pl-3 md:pl-0 text-center"
        id="title"
      >
        Ofertas en tortas y postres artesanales
      </h1>
      <p class="text-sm md:text-base text-wrap px-3 md:px-0 pb-4" id="des">
        Descubre el equilibrio perfecto entre sabor, calidad y diseño a un
        precio increíble. Nuestros productos están hechos con ingredientes
        frescos y un toque especial para cada ocasión. ¡Aprovecha nuestras
        ofertas y haz tu pedido hoy mismo para disfrutar de un dulce momento
        único!
      </p>
    </section>
    <section class="flex my-3 max-w-screen-xl mx-auto">
      <AsideProducts />
      <ViewProducts products={products} />
    </section>
  </main>
</Layout>
