---
import { Detalles } from "@/components/carrito/Detalles";
import LayoutCarrito from "@/layouts/LayoutCarrito.astro";
---

<LayoutCarrito title="Pago" text="Datos de pago">
  <article class="grid grid-cols-1 md:flex mx-auto py-5 gap-2">
    <div class="w-full md:w-3/5 ">
      aqui va el formulario de pago
    </div>
    <div class="w-full md:w-2/5 flex flex-col">
      <Detalles client:only />
      <h4 class="text-center md:text-lg font-semibold text-gray-600 uppercase py-2">
       Datos de envio
      </h4>
      <div class="border mt-3">
        <p class="text-center text-gray-600 py-2">
          <span class="font-semibold">Direccion:</span> Calle 123
        </p>
        <p class="text-center text-gray-600 py-2">
          <span class="font-semibold">Ciudad:</span> Bogota
        </p>
        <p class="text-center text-gray-600 py-2">
          <span class="font-semibold">Telefono:</span> 123456789
        </p>
      </div>
    </div>
  </article>

  <a href="/carrito-compras">volver al carrito</a>
</LayoutCarrito>
