---
import LayoutPages from "@/layouts/LayoutPages.astro";
---

<LayoutPages title="Personalizados - deja que vuele tu creatividad">
  <article
    class="w-full min-h-[100px] mx-auto bg-white rounded-md p-2 relative flex items-center justify-center shadow-md"
  >
    <!-- Div interno centrado y superpuesto -->
    <div
      class="absolute bg-white max-w-[65%] z-20 mx-auto w-full h-full grid place-items-center -mb-12"
    >
      <h1 class="text-4xl text-[#f1683a] font-bold text-center">
        Crea momentos únicos
      </h1>
    </div>
  </article>
</LayoutPages>
