---
import LayoutPages from "@/layouts/LayoutPages.astro";
---

<LayoutPages title="Sobre nosotros - santas tortas pateleria">
  <article>
    <h1>Nuestra empresa</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa
      consequatur eligendi ab dolorem necessitatibus maxime vel tenetur a
      provident, nihil repudiandae itaque assumenda temporibus ex unde beatae
      cumque fugiat minus?
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa
      consequatur eligendi ab dolorem necessitatibus maxime vel tenetur a
      provident, nihil repudiandae itaque assumenda temporibus ex unde beatae
      cumque fugiat minus?
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa
      consequatur eligendi ab dolorem necessitatibus maxime vel tenetur a
      provident, nihil repudiandae itaque assumenda temporibus ex unde beatae
      cumque fugiat minus?
    </p>
  </article>
</LayoutPages>
