---
import LayoutPages from "@/layouts/LayoutPages.astro";
import ContainerSecctions from "@/components/ContainerSecctions.astro";
const { title, description} = {
  title: "Personaliza tu torta",
  description: "Personaliza tu torta, hacerlo es muy facil",
};

const {subtitle} = Astro.props
---

<LayoutPages title={title} description={description}>
  <ContainerSecctions class="text-center mb-5">
    <h1 class="text-xl md:text-2xl text-center text-[#f1683a] font-bold">
      Personliza tu torta, hacerlo es muy facil
    </h1>

    <span
      class="text-xs md:text-sm text-balance font-semibold mb-2 pl-4 md:pl-0 text-center"
    >
      <strong class="text-primary-txt"> ¿Tienes una idea en mente?</strong> ¡Nosotros
      la hacemos dulce realidad!
    </span>
   
  </ContainerSecctions>

  <ContainerSecctions>
    <h2 class="font-semibold text-lg md:text-xl text-primary-txt mt-3">
     {subtitle}
    </h2>
    <slot />
  </ContainerSecctions>
</LayoutPages>
