---
import Layout from "./Layout.astro";
import Steps from "@/components/Steps";
const { title, text } = Astro.props;
---

<Layout title={title}>
  <Steps client:load/>
  <section class="max-w-screen-xl mx-auto">
    <div
      class="bg-primary-bg border w-[95%] mx-auto md:w-full p-3 mb-4 rounded-md pl-4"
    >
      <h1 class="text-primary-txt text-lg uppercase font-semibold text-center">
        {text}
      </h1>
    </div>
  </section>

  <section class="max-w-screen-xl mx-auto">
    <slot />
  </section>
</Layout>
