---
import Layout from "./Layout.astro";
const { title } = Astro.props;
---

<Layout title={title}>
  <main>
    <section class="pt-20 md:pt-32 md:max-w-screen-xl mx-auto min-h-dvh ">
      <slot />
    </section>
  </main>
</Layout>
